{{ define "extrahead" }}
<style>
div.feed {
  font-size: 1.1em;
  padding-top: 1.2em;
}

p {
  font-size: 1.2em;
}
</style>
{{ end }}

{{ define "main" }}

<h1>Following</h1>

<p>Here is my blogroll containing the RSS feeds I follow</p>

{{ $paginator := .Paginate .Pages }}
{{ range $paginator.Pages }}
  <div class="feed">
  <a href="feed-{{ .Params.id }}">
    {{ if .Title }}
      {{ .Title | truncate 80 }}
    {{ else if .Params.FeedLink }}
      {{ .Params.FeedLink | truncate 80 }}
    {{ else }}
      {{ .Params.Link | truncate 80 }}
    {{ end }}
  </a>
  {{ if .Description }}
    &mdash;
    {{ .Description | truncate 200 }}
  {{ end }}
  </div>
{{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}
