{{ define "extrahead" }}
<style>

div.rec {
  font-size: 1.1em;
  padding-top: 1.2em;
}

div.recommender {
  font-size: 0.8em;
  font-style: italic;
}

p {
  font-size: 1.2em;
}

ul {
  padding: 0, 0.5em;
  margin: 0.3em;
}
</style>
{{ end }}

{{ define "main" }}

<h1>Discover</h1>

<p>Here are even more RSS feeds recommended by the feeds I follow:</p>

{{ $paginator := .Paginate .Pages }}
{{ range $paginator.Pages }}
  {{ if and (.Title) (.Params.link) }}

  {{- $blogroll := where (where (where .Site.RegularPages "Section" "network") "Params.destination_url" .Params.feedlink) "Params.source_type" 3 -}}
  {{ if $blogroll }}
  <div class="rec">
    <a href="{{ .Params.link }}" rel="ugc nofollow">
      {{ if .Title }}
        {{ .Title | truncate 80 }}
      {{ else }}
        {{ .Params.link | truncate 80 }}
      {{ end }}
    </a>
    {{ if .Description }}
      &mdash;
      {{ .Description | truncate 200 }}
    {{ end }}
    <div class="recommender">Recommended by: 
    <ul>
    {{ range $blogroll }}
    <li><a class="recommender" href="{{ .Params.source_url }}">{{ .Params.source_url }}</a></li>
    {{ end }}
    </ul>
    </div>
    {{ end }}

  </div>
  {{ end }}
{{ end }}
{{ template "_internal/pagination.html" . }}
{{ end }}
