<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Feed</title>
<link rel="canonical" href="{{ .Permalink }}" />

{{ block "extrahead" . }}
{{ end }}
<style>
body {
  margin: 2em;
  font-size: 1.2em;
  font-family: system-ui, -apple-system, Helvetica;
  background-color: #eee;
  padding-bottom: 10em;
}

  h3 {
    margin-top: 3em;
  }

  h2 {
    margin-top: 3em;
    font-size: 0.7em;
  }

  h2 > a {
    font-size: 1.6em;
    font-style: normal;
  }

  a {
    color: #118;
  }

  a:visited {
    color: #717;
  }

  a.rss {
    background-color: #e83;
    padding: 6px;
  }

  span.sep:before {
    padding: 1.2em;
    content: '\2234';
  }

  span.host {
    font-size: 0.7em;
    padding-left: 1em;
  }

  div.top-nav > a {
    padding: 1em;
  }

ul.pagination {
  margin: 3em;
}
li.page-item {
  font-size: 1.2em;
  display: inline;
  padding: 0.4em;
}

p.footer {
  padding-top: 3em;
  font-size: 0.8em;
}
</style>
